{{- if .Values.secret.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secret.secretName | quote }}
  namespace: {{ .Release.Namespace | quote }}
type: Opaque
stringData:
  {{- if .Values.secret.harbor.username }}
  URUNNER_SECR_HARBOR_USER: {{ .Values.secret.harbor.username | quote }}
  URUNNER_SECR_HARBOR_PASS: {{ .Values.secret.harbor.password | quote }}
  {{- end }}
  {{- if .Values.secret.aws.access_key_id }}
  URUNNER_SECR_AWS_ACCESS_KEY_ID: {{ .Values.secret.aws.access_key_id | quote }}
  URUNNER_SECR_AWS_SECRET_ACCESS_KEY: {{ .Values.secret.aws.secret_access_key | quote }}
  {{- end }}
  {{- if .Values.secret.aws.region }}
  URUNNER_SECR_AWS_REGION: {{ .Values.secret.aws.region | quote }}
  {{- end }}
  {{- if .Values.secret.digitalocean.token }}
  URUNNER_SECR_DIGITAL_OCEAN_TOKEN: {{ .Values.secret.digitalocean.token | quote }}
  {{- end }}
  {{- if .Values.secret.gitlab.token }}
  URUNNER_SECR_GITLAB_TOKEN: {{ .Values.secret.gitlab.token | quote }}
  {{- end }}
  {{- if .Values.secret.gitlab.url }}
  URUNNER_SECR_GITLAB_URL: {{ .Values.secret.gitlab.url | quote }}
  {{- end }}
{{- end }}


